<?xml version="1.0" encoding="UTF-8"?>
<config>
    <global>
        <models>
            <migration_helper>
                <class>Rubick_MigrationHelper_Model</class>
            </migration_helper>
        </models>
        <helpers>
            <migration_helper>
                <class>Rubick_MigrationHelper_Helper</class>
            </migration_helper>
        </helpers>
        <blocks>
            <migration_helper>
                <class>Rubick_MigrationHelper_Block</class>
            </migration_helper>
        </blocks>
        <events>
            <core_config_data_save_after>
                <observers>
                    <migration_helper>
                        <class>migration_helper/observer</class>
                        <type>singleton</type>
                        <method>configSaveAfter</method>
                    </migration_helper>
                </observers>
            </core_config_data_save_after>
        </events>
        <resources>
            <migrations_setup>
                <setup>
                    <module>Rubick_MigrationHelper</module>
                </setup>
            </migrations_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <migration_helper>
                    <file>migration_helper.xml</file>
                </migration_helper>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <dev>
            <migration_helper>
                <generate_migrations>1</generate_migrations>
                <migration_module>Rubick_MigrationHelper</migration_module>
                <migration_resource>migrations_setup</migration_resource>
            </migration_helper>
        </dev>
    </default>
</config>